@import-normalize;

body {
  margin: 0;
  font-family: Merriweather, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.bg-image {
  background-color: grey;
  background: linear-gradient(
      to right,
      rgba(23, 34, 52, 0.6),
      rgba(23, 34, 52, 0.6)
    ),
    url(/assets/hero_img.jpeg) lightgray 50% / cover no-repeat;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #b29f7e;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
